.bg-white {
	background-color: #ffffff;
}

.box-margin {
	margin: 15px 0;
}

.petrol {
	color: #cc0066;
	font-size: 18px;
	font-weight: bold;
	margin-top: -3px;
}

.diesel {
	color: #ff9900;
	font-size: 18px;
	font-weight: bold;
	margin-top: -3px;
}

.kerosene {
	color: #00802b;
	font-size: 18px;
	font-weight: bold;
	margin-top: -3px;
}

.pdt-text {
	margin-bottom: 5px;
}

hr {
	margin: 0;
	color: #efefef;
}

.purple-text {
	color: #cc0066;
	font-size: 18px;
	font-weight: bold;
}

.purple {
	color: #cc0066;
	font-weight: bold;
}

.purple-bg {
	background-color: #cc0066;
	color: #ffffff;
	border-radius: 50%;
	padding: 11%; 
	width: 100px;
}

.payments {
	display: inline;
	padding: 10%;
	width: 60%;
}

.orange {
	color: #ff9900;
}

.orange-bg {
	background-color: #ff9900;
	color: #ffffff;
	border-radius: 50%;
	padding: 11%; 
	width: 100px;
}

.green {
	color: #00802b;
}

.violet {
	color: #000066;
}

.sky-blue {
	color: #4bc0c0;
}

.hyphen {
	color: #4bc0c0;
}

div h3.green {
	margin: 5px 0;
}

.bottom-text {
	vertical-align: text-bottom;
}

.inline-text {
	display: inline-block;
}

.vol-sold div {
	display: inline-block;
	border-right: 1px solid #696666;
	padding: 0 10px;
}

.vol-sold div.kero {
	border-right: 0;

}

.bottom {
	vertical-align: bottom;
}

/*
combobox styles
*/
.custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }

/*
.fa-plus {
	display: none;
}
*/

/*
 mobile view
*/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /*[class*="col-"] {
        width: 100%;
    }*/

    hr {
		margin: 5px 0;
	}

	.vol-taken {
		text-align: center;	
	}
    
    .payments {
		display: inline;
	}

	.petrol {
		color: #cc0066;
		font-size: 20px;
		font-weight: bold;
		margin-top: ;
	}

	.diesel {
		color: #ff9900;
		font-size: 20px;
		font-weight: bold;
		margin-top: ;
	}

	.kerosene {
		color: #00802b;
		font-size: 20px;
		font-weight: bold;
		margin-top: ;
	}

	.bottom {
		vertical-align: bottom;
	}
}

/*
 mobile view
*/
@media (max-width: @screen-xs-max) {
    /* For mobile phones: */
    /*[class*="col-"] {
        width: 100%;
    }*/

    hr {
		margin: 10px 0;
	}
	/*
	.bottom {
		vertical-align: text-bottom;
	}
	*/
}

@media only screen and (min-width: 768px) {
    /* For larger screen devices: */
    /*[class*="col-"] {
        width: 100%;
    }*/

    .doughnut {
		width: 200px; 
		height: 200px;
		margin: 0 50px;
	}
	/*
	.fa-plus {
		display: none;
	}*/

	.hidden {
		display: none;
	}

	.shown {
		display: inline-block;
	}

	.bottom {
		vertical-align: text-bottom;
	}
	
}

.box-value-heading {
	font-size: 15px;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 10px;
}

.box-value {
	font-size: 25px;
	font-weight: bold;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom:5px;
}

.box-label{
	padding-left: 10px;
	padding-top: 10px;
}

.efizzy {
	height: 1px;
	background-color: #d8527c;
}

.green-efizzy {
	height: 1px;
	background-color: green;
}

.balance {
	padding-bottom:5px;
}

